:root{
    font-size: 80%;
}

h1{
    font-weight: 600;
    text-align: center;
}

body {
    background-color: white;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;  
}

header{
    background-color: #c8a2c8;
    color: black;
    padding: 20px 0;
    text-align: center;
    margin: 1rem;
}

u1{
    display: flex;
    gap: 10rem;
    list-style: none;
    margin-top: 3rem;
    padding:0;
    justify-content: center;
}

nav a {
    border-radius: 5px;
    color: black;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: plum;
}

.container {
    background-color: lavender;
    margin: 1rem;
    padding: 25px;
}

main {
    flex: 3;
}

h2 {
    font-weight: 5000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
}

P {
    font-size: 15px;
    font-stretch: expanded;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-weight: 5000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

th, td{
    border: 1px solid;
    text-align: left;
}

th{
    color: purple;
}

ol{
   padding-left: 20px;
}

li{
    margin-bottom: 5px;
}

h4{
    font-weight: 5000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.viewport {
    width: 400px;
}

figcaption{
    font-size: 12px;
    margin-top: 1rem;
    font-weight: 550;
}